.box {
    background: linear-gradient(black, grey);
    width: 352px;
    height: 500px;
}

.container {
    display: flex;
    justify-content: center;
    border-radius: 82px;
    color: white;
}

img {
    width: 95px;
    height: 95px;
    border-radius: 55%;
    align-items: center;
    /* padding-left: 132px; */
    padding-top: 9px;
}

button {
    background: linear-gradient(black, grey);
    width: 263px;
    height: 32px;
    outline: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}